services:
    laravel.test:
        build:
            context: './docker/8.4'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.4/app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
            SUPERVISOR_PHP_COMMAND: "/usr/bin/php -d variables_order=EGPCS /var/www/html/artisan octane:start --server=swoole --host=0.0.0.0 --port='${APP_PORT:-80}'"
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis
            - minio
            - mailpit
    pgsql:
        image: 'postgres:18-alpine'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - './.docker/pgsql:/var/lib/postgresql/data'
            - './docker/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s
    pgadmin:
        image: 'dpage/pgadmin4:latest'
        ports:
            - '${FORWARD_PGADMIN_PORT:-5050}:80'
        environment:
            PGADMIN_DEFAULT_EMAIL: '${PGADMIN_EMAIL:-admin@admin.com}'
            PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_PASSWORD:-admin}'
            PGADMIN_CONFIG_SERVER_MODE: 'False'
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        networks:
            - sail
        depends_on:
            pgsql:
                condition: service_healthy
    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - './.docker/redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    
    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    minio:
        image: minio/minio:latest
        entrypoint: /bin/sh -c
        command: |
            "
            minio server /data --console-address ':8900' &

            sleep 5

            mc alias set myminio http://localhost:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY}

            mc mb -p myminio/${AWS_BUCKET}

            mc anonymous set public myminio/${AWS_BUCKET}

            wait
            "
        ports:
            - "${FORWARD_MINIO_PORT:-9000}:9000"
            - "${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900"
        environment:
            MINIO_ROOT_USER: "${AWS_ACCESS_KEY_ID}"
            MINIO_ROOT_PASSWORD: "${AWS_SECRET_ACCESS_KEY}"
            AWS_BUCKET: "${AWS_BUCKET}"
        volumes:
            - './.docker/minio:/data'
        networks:
            - sail
    
    stripe-cli:
        image: stripe/stripe-cli:latest
        container_name: stripe-cli
        entrypoint: /bin/sh
        command: >
            -c "
            sleep 10 &&
            stripe listen 
            --forward-to http://laravel.test/stripe/webhook 
            --api-key $${STRIPE_SECRET}
            --skip-verify
            "
        environment:
            STRIPE_API_KEY: "${STRIPE_SECRET}"
        volumes:
            - './.docker/stripe:/root/.config/stripe'
        networks:
            - sail
        restart: unless-stopped
        depends_on:
            laravel.test:
                condition: service_started

volumes:
    pgadmin_data:
        driver: local

networks:
    sail:
        driver: bridge
